@font-face {
  font-family: "iconfont"; /* Project id 3741051 */
  src: url('iconfont.woff2?t=1671215718854') format('woff2'),
       url('iconfont.woff?t=1671215718854') format('woff'),
       url('iconfont.ttf?t=1671215718854') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-typeofentity:before {
  content: "\e615";
}

.icon--in--feature:before {
  content: "\e627";
}

.icon-wenhaofill:before {
  content: "\e72c";
}

.icon-zhuyi:before {
  content: "\e625";
}

.icon-deng:before {
  content: "\e785";
}

.icon-gouwuchekong:before {
  content: "\e605";
}

.icon-like:before {
  content: "\e669";
}

.icon-clouddownload:before {
  content: "\e81b";
}

.icon-quxiao:before {
  content: "\e64a";
}

.icon-pointer:before {
  content: "\e934";
}

.icon-point:before {
  content: "\e642";
}

.icon-Gitlab:before {
  content: "\e87f";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weibo1:before {
  content: "\e883";
}

.icon-wechat-fill:before {
  content: "\e884";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-csdn:before {
  content: "\e60c";
}

.icon-blog:before {
  content: "\eaf9";
}

.icon-tag:before {
  content: "\e65b";
}

.icon-Category:before {
  content: "\e60e";
}

.icon-save-fill:before {
  content: "\e78b";
}

.icon-setting:before {
  content: "\e6f0";
}

.icon-3501shuju:before {
  content: "\e665";
}

.icon-columns:before {
  content: "\e604";
}

.icon-activity:before {
  content: "\e713";
}

.icon-home:before {
  content: "\e63d";
}

.icon-aboutshare:before {
  content: "\e628";
}

.icon-search:before {
  content: "\e61a";
}

.icon-change:before {
  content: "\e75d";
}

.icon-shanchu:before {
  content: "\e718";
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-jubao:before {
  content: "\e603";
}

.icon-zhuanfa:before {
  content: "\e6e8";
}

.icon-copy:before {
  content: "\e74a";
}

.icon-vipcard:before {
  content: "\e6ee";
}

.icon-coursera:before {
  content: "\e660";
}

.icon-gift:before {
  content: "\e842";
}

.icon-bijiben:before {
  content: "\e607";
}

.icon-flag:before {
  content: "\e764";
}

.icon-VIP:before {
  content: "\e83d";
}

.icon-track:before {
  content: "\e795";
}

.icon-person:before {
  content: "\e871";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-messages:before {
  content: "\e671";
}

.icon-rili:before {
  content: "\e620";
}

.icon-31dianzan:before {
  content: "\e601";
}

.icon-pinglun:before {
  content: "\e641";
}

.icon-view:before {
  content: "\e6ad";
}

.icon-weibo:before {
  content: "\e600";
}

