@font-face {
  font-family: "iconfont"; /* Project id 3741051 */
  src: url('iconfont.woff2?t=1668677618500') format('woff2'),
       url('iconfont.woff?t=1668677618500') format('woff'),
       url('iconfont.ttf?t=1668677618500') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-jubao:before {
  content: "\e603";
}

.icon-zhuanfa:before {
  content: "\e6e8";
}

.icon-copy:before {
  content: "\e74a";
}

.icon-vipcard:before {
  content: "\e6ee";
}

.icon-coursera:before {
  content: "\e660";
}

.icon-gift:before {
  content: "\e842";
}

.icon-bijiben:before {
  content: "\e607";
}

.icon-flag:before {
  content: "\e764";
}

.icon-VIP:before {
  content: "\e83d";
}

.icon-track:before {
  content: "\e795";
}

.icon-person:before {
  content: "\e871";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-messages:before {
  content: "\e671";
}

.icon-rili:before {
  content: "\e620";
}

.icon-31dianzan:before {
  content: "\e601";
}

.icon-pinglun:before {
  content: "\e641";
}

.icon-view:before {
  content: "\e6ad";
}

.icon-weibo:before {
  content: "\e600";
}

